* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    width: 100%;
    color: white;
    background: #2f4f4f;
}

header img {
    border-radius: 5px;
    width: 60px;
}

nav a {
    text-decoration: none;
    margin-left: 16px;
    color: white;
    font-weight: bold;
}

nav ul {
    text-decoration: none;
    display: flex;
    margin: 1rem;
}

nav a:hover {
    color: #ffd700;
}

.hero {
    position: relative;
}

.hero-text h1 {
    position: relative;
    font-family: 'passion one', cursive;
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    top: -850px;
}

.hero p {
    position: absolute;
    font-family: Courier, monospace;
    top: -790px;
    width: 98%;
    text-align: center;
    opacity: 0.8;
    padding: 16px;
    font-size: 1.3rem;
}

.hero-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 6px #000;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-text h1 span {
    color: #ffffff;
}

.button {
    position: relative;
    display: inline-block;
    background: #d32f2f;
    color: white;
    top: -830px;
    padding: 0.8rem 2rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
}

.buton:hover {
    background: #b71c1c;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 120px;
    padding: 4rem 5%;
    text-align: center;
}

.home-grid h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #2f4f4f;
}

.home-grid figure {
    text-align: center;
}

.home-grid figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.15);
}

.home-grid figcaption {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.adventure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 4rem 0;
}

.adventure img {
    width: 700px;
    height: auto;
}

.adventure-text {
    position: absolute;

    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.88);
    padding: 2.5rem 3rem;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgb(0, 0, 0, 0, 0.2);
}

.adventure-text h2 {
    color: #2f4f4f;
    text-shadow: #141616;
}

.adventure p {
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
}

footer {
    display: flex;
    background: #2f4f4f;
    color: white;
    padding: 20px;
    gap: 30px;
    text-align: center;
    justify-content: center;
}

.footer-note {
    text-align: center;
    margin: 0;
    flex: 0.89;
}

.socialmedia img {
    width: 20px;
    height: auto;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 3rem;
    }

    .adventure-text {
        position: static;
        margin: 2rem auto;
        max-width: 90%;
    }
}