:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times new Roman" "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

nav a {
    margin-left: 16px;
    text-decoration: none;
    color: var(--primary-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 16px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
}

footer {
    padding: 16px;
    border-top: 1px solid #ccc;
    font-size: 0.9rem;
}

.socialmedia a {
    text-decoration: none;
    margin-right: 8px;
}

.socialmedia img {
    width: 32px;
    height: auto;
}