* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: blue;
    padding: 2px;
}

main {
    max-width: 840px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    border: 1px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

.box {
    margin: 1rem;
    border: 1px solid rdg(0 0 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}